.galeria {
    border-radius: 20px;
    .divGaleria {
        padding: 40px;
        .lightbox {
            img {
                width: 100%;
                margin-bottom: 20px;
                transition: 0.3s ease-in-out;
                border-radius: 15px;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
                }
            } 
        }
    }
}
.baguetteBox-button {
    background-color: #e3b200 !important;
}